footer {
    height: 200px;
    width: 100%;
    background-image: url(../img/wave.svg);
    background-color: #857dfe;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 50px;

    .copyright {
        font-size: 2rem;
        font-weight: 500;
        margin-top: 60px;
    }

    .credits {
        margin-top: 60px;
        margin-left: auto;
        font-weight: 600;

        p {
            font-size: 1.4rem;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}