.services {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;

    h1 {
        font-size: 5rem;
        color: black;
        margin: 10px 0;
        font-family: Roboto;
        font-weight: 400;
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
        .card {
            height: auto;
            width: 400px;
            border: 5px solid $primaryColor;
            border-radius: 5px;
            padding: 20px 35px;
            font-size: 1.5rem;
            margin: 10px auto;
            overflow: hidden;
            transform: scale(.9);
            box-shadow: 1px 1px 10px 4px #636363;

            img {
                height: 50px;
                width: 50px;
            }

            h2 {
                font-size: 2rem;
                margin-bottom: 15px;
            }
        }
    }
}