.main {
  height: 400px;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 70px;
}

.main img {
  display: none;
}

.main main {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
  background: #6C63FF;
  -webkit-clip-path: polygon(0px 0px, 0px 230px, 55% 450px, 100% 230px, 100% 0px);
          clip-path: polygon(0px 0px, 0px 230px, 55% 450px, 100% 230px, 100% 0px);
}

.main main .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -30px;
}

.main main .main-container .heading {
  margin-bottom: 10px;
  font-size: 1.7rem;
  text-align: center;
  color: white;
  -webkit-animation: head .4s .3s 1 both linear;
          animation: head .4s .3s 1 both linear;
}

.main main .main-container .heading h1 {
  color: white;
  text-shadow: 2px 2px black;
  font-family: Montserrat;
}

.main main .main-container .heading h5 {
  color: white;
}

.main main .main-container button {
  display: block;
  font-size: 14px;
  color: white;
  position: relative;
  height: 50px;
  width: 400px;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;
  border: 1.2px solid white;
  margin: 30px 0;
  overflow: hidden;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  cursor: pointer;
  background: none;
  border-radius: 5px;
  -webkit-animation: btn .4s .33s 1 both linear;
          animation: btn .4s .33s 1 both linear;
}

.main main .main-container button span {
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-transition: .7s all ease;
  transition: .7s all ease;
}

.main main .main-container button span:hover {
  background-color: white;
  color: #6C63FF;
}

.main main .main-container button:before {
  background-color: white;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: -1;
  -webkit-transition: .9s all ease;
  transition: .9s all ease;
  width: 0;
  height: 0;
}

.main main .main-container button:hover {
  color: #6c5ce7;
}

.main main .main-container button:hover::before {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes head {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes head {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes btn {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes btn {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

body .container footer {
  background-color: #5200c8;
}
/*# sourceMappingURL=phone900.css.map */