* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 10px;
}

body {
  height: auto;
  width: 100%;
  font-family: sans-serif;
}

body .container {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

body .container .navbar {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
  padding: 0 50px;
}

body .container .navbar .logo {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: Noto Sans;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 3px;
  color: #6C63FF;
}

body .container .navbar .navbar-nav {
  margin-left: auto;
}

body .container .navbar .navbar-nav .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 70px;
  list-style: none;
}

body .container .navbar .navbar-nav .nav-ul .nav-item .nav-link {
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 300;
  padding: 27px 20px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  cursor: pointer;
  border-radius: 5px;
}

body .container .navbar .navbar-nav .nav-ul .nav-item .nav-link:hover {
  background-color: #6C63FF;
  color: white;
}

body .container .main {
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .main img {
  height: 70vh;
  width: 55%;
}

body .container .main main {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

body .container .main main .heading {
  margin-bottom: 10px;
  font-size: 1.7rem;
  text-align: center;
  color: #6C63FF;
  -webkit-animation: head .4s .3s 1 both linear;
          animation: head .4s .3s 1 both linear;
}

body .container .main main .heading h1 {
  font-family: Montserrat;
  margin-bottom: 4px;
}

body .container .main main button {
  display: block;
  font-size: 14px;
  color: #6C63FF;
  position: relative;
  height: 50px;
  width: 400px;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;
  border: 1.2px solid #6C63FF;
  margin: 30px 0;
  overflow: hidden;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  cursor: pointer;
  background: none;
  border-radius: 5px;
  -webkit-animation: btn .4s .33s 1 both linear;
          animation: btn .4s .33s 1 both linear;
}

body .container .main main button:before {
  content: '';
  background-color: #6C63FF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: -1;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  width: 0;
  height: 0;
}

body .container .main main button:hover {
  color: white;
}

body .container .main main button:hover::before {
  width: 120%;
  height: 120%;
}

body .container .services {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

body .container .services h1 {
  font-size: 5rem;
  color: black;
  margin: 10px 0;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 60px;
}

body .container .services .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

body .container .services .cards .card {
  height: auto;
  width: 400px;
  border: 5px solid #6C63FF;
  border-radius: 5px;
  padding: 20px 35px;
  font-size: 1.5rem;
  margin: 10px auto;
  overflow: hidden;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 1px 1px 10px 4px #636363;
          box-shadow: 1px 1px 10px 4px #636363;
}

body .container .services .cards .card img {
  height: 50px;
  width: 50px;
}

body .container .services .cards .card h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

body .container .pricing {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

body .container .pricing h1 {
  font-size: 5rem;
  color: black;
  margin: 10px 0;
  font-family: Roboto;
  font-weight: 400;
  margin: 40px 0;
}

body .container .pricing .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

body .container .pricing .cards .card {
  height: auto;
  width: 270px;
  border: 4px solid #6C63FF;
  border-radius: 5px;
  padding: 20px 35px;
  font-size: 1.5rem;
  margin: 10px;
  -webkit-box-shadow: 1px 1px 7px 1px #636363;
          box-shadow: 1px 1px 7px 1px #636363;
  text-align: left;
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
}

body .container .pricing .cards .card:hover {
  -webkit-transform: translateY(-10px) scale(1.03);
          transform: translateY(-10px) scale(1.03);
}

body .container .pricing .cards .card h4 {
  font-size: 1.5rem;
  color: #636e72;
}

body .container .pricing .cards .card h2 + span {
  margin-left: 6px;
  color: #636e72;
}

body .container .pricing .cards .card h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  display: inline-block;
}

body .container .pricing .cards .card ul li {
  font-size: 1.7rem;
  color: #2d3436;
  list-style: none;
  margin-bottom: 20px;
}

body .container .pricing .cards .card ul {
  margin-bottom: 30px;
}

body .container .pricing .cards .card button {
  padding: 14px 70px;
  border: none;
  background-color: #867ffc;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 1px 1px black;
          box-shadow: 2px 2px 1px 1px black;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  font-size: 1.2rem;
  cursor: pointer;
}

body .container .pricing .cards .card button:hover {
  background-color: #6C63FF;
  font-size: 1.3rem;
}

body .container .contact-wrapper {
  background: url("../img/contact.svg");
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .contact-wrapper .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 2px solid #6C63FF;
  background-color: white;
  border-radius: 5px;
  width: 600px;
  margin: 0 auto;
  padding: 20px 40px;
  margin-bottom: 40px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  font-size: 1rem;
  -webkit-transition: .7s all ease;
  transition: .7s all ease;
  padding-top: 40px;
  opacity: .8;
}

body .container .contact-wrapper .contact:hover {
  border-width: 3px;
}

body .container .contact-wrapper .contact h1 {
  font-size: 4.5em;
  font-weight: 400;
  font-family: Roboto;
}

body .container .contact-wrapper .contact h1 + h5 {
  font-size: 1em;
  font-family: sans-serif;
  color: #636e72;
}

body .container .contact-wrapper .contact form {
  margin: 40px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .contact-wrapper .contact form input,
body .container .contact-wrapper .contact form textarea {
  border: 1px solid #636e72;
}

body .container .contact-wrapper .contact form .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .container .contact-wrapper .contact form #name {
  margin-right: 10px;
  margin-bottom: 20px;
}

body .container .contact-wrapper .contact form #email {
  margin-bottom: 20px;
}

body .container .contact-wrapper .contact form input {
  padding: 5px;
  height: 40px;
  width: 46%;
  font-size: 1.5em;
  border: 1px solid grey;
  border-radius: 6px;
  font-family: Montserrat;
  margin: -5px 19px;
}

body .container .contact-wrapper .contact form input:hover {
  border-color: #6C63FF;
  border-width: 2px;
}

body .container .contact-wrapper .contact form textarea {
  height: 200px;
  width: 94%;
  border: 1px solid grey;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 2em;
  padding: 2px 4px;
}

body .container .contact-wrapper .contact form textarea:hover {
  border-color: #6C63FF;
  border-width: 2px;
}

body .container .contact-wrapper .contact form button {
  display: block;
  font-size: 14px;
  color: #6C63FF;
  position: relative;
  height: 50px;
  width: 94%;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;
  border: 1.5px solid #6C63FF;
  margin: 30px auto;
  overflow: hidden;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  cursor: pointer;
  background: none;
  border-radius: 5px;
}

body .container .contact-wrapper .contact form button:before {
  background-color: #6C63FF;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: -1;
  -webkit-transition: .9s all ease;
  transition: .9s all ease;
  width: 100%;
  height: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

body .container .contact-wrapper .contact form button:hover {
  color: white;
}

body .container .contact-wrapper .contact form button:hover::before {
  height: 820%;
}

body .container footer {
  height: 200px;
  width: 100%;
  background-image: url(../img/wave.svg);
  background-color: #857dfe;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}

body .container footer .copyright {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 60px;
}

body .container footer .credits {
  margin-top: 60px;
  margin-left: auto;
  font-weight: 600;
}

body .container footer .credits p {
  font-size: 1.4rem;
}

body .container footer .credits p a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */